{% extends 'usuarios/base.html' %}

{% block aba %}Alterar Notas{% endblock %}

{% block titulo %}Alterar Notas{% endblock %}

{% block conteudo %}
<h3>Alteração de Notas Regitradas</h3>
<hr>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Aluno</th>
            <th>Disciplina</th>
            <th>Nota das Atividades</th>
            <th>Nota do Trabalho</th>
            <th>Nota da Prova</th>
            <th>Média</th>
            <th>Opções</th>
        </tr>
        {% for campo in lista_notas %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ campo.disciplina }}</td>
            <td>{{ campo.nota_atividades }}</td>
            <td>{{ campo.nota_trabalho }}</td>
            <td>{{ campo.nota_prova }}</td>
            <td>{{ campo.media }}</td>
            <td>
                <a href="{% url 'editar_verificacao' campo.pk %}" class = "btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'excluir_verificacao' campo.pk %}" class = "btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">Nenhum regístro encontrado.</td>
        </tr>
        {% endfor %}
        
    </table>
</div>
<hr>
{% endblock %}