{% extends 'usuarios/base.html' %}

{% block aba %}Lançar Notas{% endblock %}

{% block titulo %}Lançar Notas{% endblock %}

{% block conteudo %}
<h3>Edição da Nota Selecionada</h3>
<p class="lead">Verifique as informações cadastradas e faça as devidas edições.</p>
<hr>
<form action="{% url 'editar' lista_notas.pk %}" method="POST">
    {% csrf_token %}
    <div class="form-register">
        <label for="userName">Nome:</label>
        <label for="Name" style="font-weight: bold;"> {{ user.first_name }}</label>
    </div>
    <div class="form-register">
        <label for="disciplinaName">Disciplina:</label>
        <input type="text" id="disciplinaName" name="disciplina" value="{{ lista_notas.disciplinas }}">
    </div>
    <div class="form-register">
        <label for="notaAtividades">Nota das Atividades</label>
        <input type="text" id="notaAtividades" name="nota_atividades" value="{{ lista_notas.nota_atividades }}">
    </div>
    <div class="form-register">
        <label for="notaTrabalho">Nota do Trabalho:</label>
        <input type="text" id="notaTrabalho" name="nota_trabalho" value="{{ lista_notas.nota_trabalho }}">
    </div>
    <div class="form-register">
        <label for="notaProva">Nota da Prova:</label>
        <input type="text" id="notaProva" name="nota_prova" value="{{ lista_notas.nota_prova }}">>
    </div>

    <div class = " update">
    <button type="submit" class="btn btn-sucess btn-sm">Atualizar</button>
    <a href="{% url 'alterar' %}" class="btn btn-dange btn-sm">Voltar</a>
</div>

</form>
{% endblock %}
