{% extends 'usuarios/base.html' %}

{% block aba %}Excluir Notas{% endblock %}

{% block titulo %}Excluir Notas{% endblock %}

{% block conteudo %}
<h3>Exclusão da Nota selecionada</h3>
<hr>
<p>Tem certeza que deseja excluir as notas da disciplina <strong>{{ lista_notas.disciplina }} </strong>?</p>
<div class="delete">
    <a href="{% url 'excluir' lista_notas.pk %}" class="btn btn-success btn-sm">Sim</a>
    <a href="{% url 'alterar' %}" class="btn btn-danger btn-sm">Não</a>
</div>
{% endblock %}