{% extends 'usuarios/base.html' %}

{% block aba %}Visualizar Notas{% endblock %}

{% block titulo %}Visualizar Notas{% endblock %}

{% block conteudo %}
<h3>Visualização de notas Regitradas</h3>
<hr>
<form action="{% url 'visualizar'%}" method="POST">
    {% csrf_token %}
    <div class="filter">
        <label for = "disciplinaName">Filtar por disciplina:</label>
        <select name = "disciplina">
            <option>Todas as disciplinas</option>
            {% for campo in lista_notas %}
                <option>{{ campo.disciplina }}</option>
            {% endfor %}
        </select>
        <button type="submit" class = "btn btn-primary">Filtrar</button>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Aluno</th>
            <th>Disciplina</th>
            <th>Nota das Atividades</th>
            <th>Nota do Trabalho</th>
            <th>Nota da Prova</th>
            <th>Média</th>
        </tr>
        {% for campo in lista_notas %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ campo.disciplina }}</td>
            <td>{{ campo.nota_atividades }}</td>
            <td>{{ campo.nota_trabalho }}</td>
            <td>{{ campo.nota_prova }}</td>
            <td>{{ campo.media }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">Nenhum regístro encontrado.</td>
        </tr>
        {% endfor %}
        
    </table>
</div>
<hr>
{% endblock %}